extends layout
block numbers
  
  h4 Result
  div(class="container")
    table
      tr
        th Unix
        th Normal
      tr
        td(id="unix")
        td(id="norm")
  nav
    ul
      li
        a(href="/") Back
  script(src="client.js")
